
body, html, *{
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

html, body{
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   font-size: 15px;
   line-height: 1.5;
}

div.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
  
}

div.card-info{
    width: 200px ;

    border-radius: 20px;
    display: block;
    border: 2px solid rgba(150,150,150,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.7);
    padding: 10px 10px;
}
.card-img{
    position: relative;
    padding: 0px 0px;
}
.card-name{
    font-weight: bold;
}




table{
    margin-top: 5px;
    height: auto;
    position: relative;
    text-align: center;
}

thead tr th{
    padding: 5px 5px;
    margin: auto;
    border-radius: 5px;
}
td{
    font-weight: bold;
}

.life{
    background-color: rgba(255,0,0,.5);
}
.sword{
    background-color: rgba(0,0,0,.3);
}
.shield{
    background-color: rgba(25,60,40,.5);
}
.potion{
    background-color: rgba(109, 61, 155, 0.5);
}
.gold{
    background-color: rgba(218, 137, 31, 0.8);
}


button{
    padding: 5px 5px;
    margin: 2px 2px;
    font-weight: bold;
    background-color: white;
    border: 1px solid rgba(0,0,0,.3);
    color: rgba(0,0,0,.9);
    border-radius: 5px;
    height: 35px;
    width: 100%;
    font-size: 18x;
}

button:hover{
    cursor: pointer;
    opacity: .6;
}

span{
    color: rgba(120,120,120,1);
    font-weight: bold;
    font-size: 12px;
    text-align: justify;
}
strong{
    color: rgba(60,60,60,1);
    font-weight: bold;
    font-size: 14px;}


h1, h2, h3, h4, h5{
    font-style: italic;
    color: rgb(40,40,40);
}
.right{
    float: right;
}
.left{
    float: left;
}




/*
    GRID
*/



.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    position: relative;
    width: 100%;
    display: inline-block;

}

.row .col {
    float: left;
    min-height: 1px;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;

}




@media only screen and (min-width: 993px) {

    .row .col.off-l1 {
        margin-left: 8.3333333333%;
    }
    .row .col.off-l2 {
        margin-left: 16.6666666667%;
    }
    .row .col.off-l3 {
        margin-left: 25%;
    }
    .row .col.off-l4 {
        margin-left: 33.3333333333%;
    }
    .row .col.off-l5 {
        margin-left: 41.6666666667%;
    }
    .row .col.off-l6 {
        margin-left: 50%;
    }


    .row .col.l1 {
        width: 8.33%;
    }
    .row .col.l2 {
        width: 16.667%;
    }
    .row .col.l3 {
        width: 25%;
    }
    .row .col.l4 {
        width: 33.33%;
    }
    .row .col.l5 {
        width: 41.66%;
    }
    .row .col.l6 {
        width: 50%;
    }
    .row .col.l7 {
        width: 58.33%;
    }
    .row .col.l8 {
        width: 66.66%;
    }
    .row .col.l9 {
        width: 75%;
    }
    .row .col.l10 {
        width: 83.33%;
    }
    .row .col.l11 {
        width: 91.66%;
    }
    .row .col.l12 {
        width: 100%;
    }
}

@media only screen and (max-width: 601px) {
    
    .row .col.off-s1 {
        margin-left: 8.3333333333%;
    }
    .row .col.off-s2 {
        margin-left: 16.6666666667%;
    }
    .row .col.off-s3 {
        margin-left: 25%;
    }
    .row .col.off-s4 {
        margin-left: 33.3333333333%;
    }

    
    .row .col.s1 {
        width: 8.3333333333%;
    }
    .row .col.s2 {
        width: 16.6666666667%;
    }
    .row .col.s3 {
        width: 25%;
    }
    .row .col.s4 {
        width: 33.3333333333%;
    }
    .row .col.s5 {
        width: 41.6666666667%;
    }
    .row .col.s6 {
        width: 50%;
    }
    .row .col.s7 {
        width: 58.3333333333%;
    }
    .row .col.s8 {
        width: 66.6666666667%;
    }
    .row .col.s9 {
        width: 75%;
    }
    .row .col.s10 {
        width: 83.3333333333%;
    }
    .row .col.s11 {
        width: 91.6666666667%;
    }
    .row .col.s12 {
        width: 100%;
    }
}
